{% extends 'layouts/base.html' %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block content %}
<h2>All Student Users</h2>
<p>This is a list of all registered students.  Admin use only.</p>
	{% for profile in profiles %}
    <h3>Student Name: <a href="{% url 'profile_detail' slug=profile.slug %}">{{ profile.first_name }} {{ profile.middle_name }} {{ profile.last_name }}</a></h3>
       <ol>
           <li>
               Email: {{ profile.email }}   
           </li>
           <li>
               School Name: {{ profile.school_name }}
           </li>
           <li>
               Short Bio: {{ profile.short_bio }}
           </li>
           <li>
               Interests: {{ profile.interest1|title }}, {{ profile.interest2|title }}, {{ profile.interest3|title }}     
           </li>
       </ol>	
	   {% endfor %}
{% endblock %}