{% load staticfiles %}

<!DOCTYPE html>

<html>

<head>
	<title>{% block title %}Student Registration{% endblock%}</title>
	<!-- Go to the static folder and grab the stylesheet from the css folder -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
		{% block header %}{% endblock %}
</head>

<body>
    <header>
		<img src="{% static 'images/logo.png' %}" alt=""/>
     <h1>Student Profile</h1>
     <nav>
         <ul class="menu">
             <li>
				 {% if user.is_superuser %}
				 <a href="{% url 'home' %}">Home</a>
				 {% endif %}
				 {% if user.is_authenticated %}
				 {% if profile.user %}
				 <a href="{% url 'edit_profile' slug=profile.slug %}">Edit Profile</a>
				 {% endif %}
				 {% else %} 
				 <a href="{% url 'auth_login' %}">Login</a>
				 <a href="{% url 'registration_register' %}">Register</a>
				 {% endif %}
				 <a href="{% url 'auth_logout' %}">Logout</a>
             </li>
        </ul>
		
     </nav>
    </header>
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
</body>

</html>







