{% extends 'layouts/base.html' %}

{% block title %}Password Change Done - {{ block.super }}{% endblock %}

{% block content %}

<h1>Password Change Done</h1>

<p>Your password has been successfully changed.</p>

{% endblock %}