{% extends 'layouts/base.html' %}

{% block title %}Password Reset Done - {{ block.super }}{% endblock %}

{% block content %}

<h1>Password Reset Senr</h1>

<p>Check your email for a link to reset your password.</p>

{% endblock %}