{% extends 'layouts/base.html' %}

{% block title %}Password Change Form - {{ block.super }}{% endblock %}

{% block content %}

<h1>Password Change Form</h1>

{% if user.is_authenticated %}
<form role="form" action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />	
</form>
{% endif %}

{% endblock %}