{% extends 'layouts/base.html' %}

{% block title %}Password Reset Complete - {{ block.super }}{% endblock %}

{% block content %}

<h1>Password Reset Complete</h1>

<p>Your password has been reset.</p>

{% endblock %}