{% extends 'layouts/base.html' %}

{% block title %}Registration Form - {{ block.super }}{% endblock %}

{% block content %}

<h1>Register an Account</h1>

<form role="form" action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />	
</form>

{% endblock %}