{% extends 'layouts/base.html' %}

{% block title %}Registration Complete - {{ block.super }}{% endblock %}

{% block content %}

<h1>Registration Complete</h1>

<p>Your account has been successfully registered.</p>

{% endblock %}