h1 {
    color: #339933;
    letter-spacing: 1px;
}

h2 {
    margin-bottom: 0;
    letter-spacing: 2px;
    color: #333;
}

ul {
    list-style-type: none;
    border-top: 1px solid #ddd;
    margin-left: -48px;
    margin-top: -20px;
}

ol li {
    padding: 5px 0;
    margin-top: 0;
}

.label {
    font-weight: 600;
    color: #333;
}

a:link,
a:visited {
    text-decoration: none;
    font-size: 90%;
    font-weight: 400;
    padding-top: 2px;
    color: #000;
    letter-spacing: 1px;
	margin: 0 2px;
	border: 1px solid #ddd;
	padding: 2px;
}

a:hover,
a:active {
	color: #393;
}

ul.menu li {
    display: inline-block;
    padding: 0 10px;
}

ul.menu li:first-child {
    display: inline-block;
    padding: 0 0 10px 0;
}

.menu a:link,
.menu  a:visited {
    text-decoration: none;
    font-size: 90%;
    font-weight: 400;
    padding-top: 2px;
    color: #000;
    letter-spacing: 1px;
	padding: 0 10px;
	margin: 0 2px;
	background-color: #eee;
}

.menu a:hover,
.menu a:active {
    background-color: #333;
	color: #393;
}