{% extends 'layouts/base.html' %}

{% block title %}Create a Profile - {{ block.super }}{% endblock %}

{% block content %}

<h1>Create Your Profile</h1>

<form role="form" action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />	
</form>

{% endblock %}