{% extends 'layouts/base.html' %}

{% block title %}Edit {{ profile.name }} - {{ block.super }}{% endblock %}

{% block content %}

<p>
<a href="{% url 'edit_profile_uploads' slug=profile.slug %}"> Edit images
</a>
</p>

<h3>Edit: {{ profile.name }}</h3>
<form role="form" action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Submit Changes</button>
</form>

{% endblock %}