{% extends 'layouts/base.html' %}

{% block title %}{{ profile.name }} - {{ block.super }}{% endblock %}

{% block content %}
    <h3>Student Name: {{ profile.first_name }} {{ profile.middle_name }} {{ profile.last_name }}</h3>
       <ol>
           <li> Preferred First Name: {{ profile.preferred_name }}</li>
		   <li>
               Email: {{ profile.email }}   
           </li>
           <li>
               School Name: {{ profile.school_name }}
           </li>
           <li>
               Short Bio: {{ profile.short_bio }}
           </li>
           <li>
               Interests: {{ profile.interest1|title }}, {{ profile.interest2|title }}, {{ profile.interest3|title }}     
           </li>
		   {% if user.is_superuser %}
		   <li>Domain: {{ profile.domain }}</li>
		   <li>Webcode: {{ profile.webcode }}</li>
		   <li>Slug: {{ profile.slug }}</li>
		   {% endif %}
       </ol>
	   	
{% comment %} our new loop {% endcomment %}
{% for upload in uploads %}
<p>Image #1</p>
<img src="{{ upload.image.url }}" alt="" />
{% endfor %}


{% endblock %}